@{
    ViewBag.Title = "Erro";
}
<div style="font-size: 16pt; line-height: 30px;padding-left:20px;" class="conteudoPrincipal">
    <h2 style="font-size: 50pt;margin-top: 95px;">Oops! :(</h2>
    <br/>
    <span style="float: left; margin-top: 40px">
        A página que você tentou acessar não existe!
        <br />
        Em caso de dúvidas, entre em contato com o <a style="color: #35ADFF;" href="mailto:paineleday@minhavida.com.br">time do Painel eDay</a>.
    </span>
    <br />
</div>

