@model EdeaDay.GestaoDeIdeias.Model.Usuario
@{
    ViewBag.Title = "Inscriçao Concluída";
}

<h2>Inscrição Concluída</h2>

Parabéns, @Model.Nome!
<br />
<br />
Sua inscrição foi concluída.
<br />
Em breve você receberá um e-mail confirmando sua inscrição.
